{% block subject %}Industria account email confirmation{% endblock %}
{% block body_html %}
    <p>Hello {{ data.user.realname }},</p>
    <p>Please confirm this email address for your Industria account by clicking on the link below:</p>
    <p><a href="{{ url('user_email_verify', {id: data.id, verificationCode: data.verificationCode }) }}">
            {{ url('user_email_verify', {id: data.id, verificationCode: data.verificationCode }) }}
    </a></p>
    <p>Sincerely,</p>
    <p>Industria PC<br>
        pc@industria.be</p>
{% endblock %}
{% block body_text %}
Hello {{ data.user.realname }},

Please confirm this email address for your Industria account by clicking on the link below:
{{ url('user_email_verify', {id: data.id, verificationCode: data.verificationCode }) }}

Sincerely,

Industria PC
pc@industria.be
{% endblock %}
